@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Movies

<div class="text-center">
    @if (Model != null)
    {
        <h3>Thank you for adding @Model.Title to Joel's collection!</h3>
    }

    <form method="post">

        @if (Model != null)
        {
            <input type="hidden" asp-for="MovieId" />
        }

        <table>
            <tr>
                <td style="text-align: right;"><label asp-for="Title">Title:</label></td>
                <td><input asp-for="Title" /></td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Title)</td>
            </tr>
            <tr>
                <td style="text-align: right;"><label asp-for="CategoryId">Category:</label></td>
                <td>
                    <select asp-for="CategoryId">
                        <option value="">Select a Category</option>
                        @foreach (Categories cat in ViewBag.CategoryList)
                        {
                            <option value="@cat.CategoryId">@cat.Category</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.CategoryId)</td>
            </tr>
            <tr>
                <td style="text-align: right;"><label asp-for="Year">Starting Year:</label></td>
                <td><input asp-for="Year" /></td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Year)</td>
            </tr>
            <tr>
                <td style="text-align: right;"><label asp-for="Director">Director:</label></td>
                <td><input asp-for="Director" /></td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Director)</td>
            </tr>
            <tr>
                <td style="text-align: right;"><label asp-for="Rating">Rating:</label></td>
                <td>
                    <select asp-for="Rating" id="rating" name="rating" style="width: 80%;">
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                        <option value="R">R</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Rating)</td>
            </tr>
            <tr>
                <td style="text-align: right;"><label asp-for="Edited">Edited:</label></td>
                <td><input asp-for="Edited" /></td>
            </tr>
            <tr>
                <td style="text-align: right;"><label asp-for="CopiedToPlex">Copied To Plex:</label></td>
                <td><input asp-for="CopiedToPlex" /></td>
            </tr>
            <tr>
                <td style="text-align: right;"><label asp-for="LentTo">Lent To:</label></td>
                <td><input asp-for="LentTo" value="" /></td>
            </tr>
            <tr>
                <td style="text-align: right;"><label asp-for="Notes">Notes:</label></td>
                <td><input asp-for="Notes" value="" /></td>
            </tr>
        </table>

        <button type="submit">Add Movie</button>
    </form>

</div>